.face:hover {
    background: rgba(95, 158, 160, 0.521);
}

.redes:hover {
    background: rgba(255, 127, 80, 0.493);
}

.videos:hover {
    background: rgba(220, 20, 60, 0.377);
}

.yu:hover {
    background: rgba(255, 0, 0, 0.603);
}